* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
background-color: #718093;

}

#contenedor{

		width: 1199px;
		height: 992px;
		background-color: #f5f6fa;
		margin-right: auto;
		margin-left: auto;
}






header{

		width: 1199px;
		height: 150px;
		background-color: #c23616;




}



	#home{

height: 777px;
width: 1199px;
background-color: #000;


	}






form{

width: 1000px;
background-color: #7f8fa6;
padding: 10px;
margin-right: auto;
margin-left: auto;
border-style: solid;
border-color: #273c75;
border-radius: 20px;
border-width: 5px;

}


footer{
width: 1199px;
height: 65px;
background-color: #c23616 ;


}


#logo{

	padding: 20px;
}

.quiz{

		margin-left: auto;
margin-right: auto;
color: #fff;
text-align: center;
padding: 60px;
font-size: xx-large;
}

.cajas{

width: 80%;

}


#logosderecha{

	float: right;
	margin-right: 12px;
margin-left: 12px;
margin-top: 20px;
}

#logosizquierda{

	float: left;
margin-top: 20px;
margin-left: 12px;
margin-right: 12px;

}

.santino{

	font-size: x-large;
	text-align: center;
}